#contract {
	padding-left: 30px;
}
#contract table {
	border: 1px solid #666;
	border-collapse: collapse;
}
#contract th, #contract td {
	border: 1px solid #666;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	padding: 8px;
}
#contract th {
	background: #DDC;
	font-weight: bold;
	text-align: left;
}
#contract th:nth-child(1), #contract td:nth-child(1) { width: 23px; }
#contract th:nth-child(3), #contract td:nth-child(3) { width: 75px; }
#contract th:nth-child(4), #contract td:nth-child(4),
#contract th:nth-child(5), #contract td:nth-child(5),
#contract th:nth-child(6), #contract td:nth-child(6) { width: 65px; }
#contract .head th:nth-child(3),
#contract .head th:nth-child(4),
#contract .head th:nth-child(5),
#contract .head th:nth-child(6) { text-align: center; }
#contract tr.section th {
	background: #CDE;
	padding: 5px;
}
#contract #totals th {
	text-align: right;
	width: auto;
}
#contract td:nth-child(1) { padding: 0; }
#contract td:nth-child(4), td:nth-child(5),
#contract td:nth-child(6), td:nth-child(7) { text-align: right; }
#contract input {
	background: transparent;
	border: none;
	font: 12px Verdana, Arial, sans-serif;
	margin: 0;
	outline: none;
}
#contract td:nth-child(1) input { width: 39px; }
#contract input[type=number] {
	padding: 7px 0;
	text-align: right;
}