body {
	background: #FFFFFF;
	margin: 0px;
	font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 16px;
}
.red-underline { border-bottom: 1px solid #ae2133; }
.black-divider { border-right: 1px solid black; }
.header-gold-background {
	background: white url(../images/bg-header-gold.jpg) no-repeat fixed 0px 0px; 
	border-bottom: 1px solid #ae2133;
}
.header-red-background {
	background: white url(../images/bg-header-red.jpg) no-repeat fixed 0px 0px;
	border-right: 1px solid black;
}
p {
	margin-top: 1em; 
	margin-left: 30px;
}
.small {
	font-size: small;
	font-style: normal;
}
h1, h2, h3 {
	font-family: "Times New Roman", Times, serif;
	color: #A81933;
	margin: 0.5em 0px 0.5em 30px;
}
.menuwhite { 
	color: #FFFFFF;
	font-weight: bold;
	margin: 1em 1ex 0px 1em; 
}
.menuwhite a { color: #FFFDED; }
.breadcrumbdark   { 
	color: #000000; 
	font-size: small;
	margin: 0.5ex 2em 0.5ex 30px; 
	padding: 0px
}
.breadcrumbdark a { color: #000000; }
a { color: blue; text-decoration: none; }
a:hover { text-decoration: underline; }