body {
	background: #FFFFFF;
	margin: 0px;
}
.header {
	border: none;
	padding: 0;
}
.red-underline { border-bottom: 1px solid #ae2133; }
.black-divider { border-right: 1px solid black; }
.header-gold-background {
	background: white url(images/bg-header-gold.jpg) no-repeat fixed 0px 0px; 
	border-bottom: 1px solid #ae2133;
}
.header-red-background {
	background: white url(images/bg-header-red.jpg) no-repeat fixed 0px 0px;
	border-right: 1px solid black;
}
h1, h2, h3 {
	font-family: "Times New Roman", Times, serif;
	color: #A81933;
	margin: 0.5em 0px;
}
.menuwhite { 
	color: #FFFFFF;
	margin: 1em 1ex 0px 1em; 
}
.menuwhite a { color: #FFFDED; }
.breadcrumbdark   { 
	color: #000000; 
	margin: 0.5ex 2em 0.5ex 30px; 
	padding: 4px 0;
}
.breadcrumbdark a { color: #000000; }
a { color: blue; text-decoration: none; }