#content, #sidebar, #footer {
	font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 13px;
}
#content, #footer { border: none; }
#content, #footer { padding: 10px 0 10px 30px; }

.group { /* Change to input-group */
	clear: left;
	margin-left: 30px;
}
label {
	float: left;
	width: 200px;
}
input {
	margin: 4px 0;
	padding: 1px;
}
.error {
	color: #A81933;
}
hr {
	margin-left: -30px;
}
table {
	border-spacing: 0;
	margin: 0;
}
th, td {
	border-left: 1px solid #666;
	border-top: 1px solid #666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 8px;
	text-align: left;
	height: 13px;
}
th:last-child, td:last-child { border-right: 1px solid #666; }
tr:last-child th, tr:last-child td { border-bottom: 1px solid #666; }
th { background: #D2C694; }
th input { margin: -5px; }

/* CONTRACT */
#contract .section th { background: #CDE; }
#contract th:nth-child(4), #contract th:nth-child(5),
#contract th:nth-child(6), #contract th:nth-child(7),
#contract td:nth-child(4), #contract td:nth-child(5),
#contract td:nth-child(6), #contract td:nth-child(7) { text-align: right; }
.contract td.input { padding: 0 8px; }
.contract input, .contract textarea {
	background: transparent;
	border: none;
	font: 11px Verdana, Arial, sans-serif;
	margin: 0;
	outline: none;
	padding: 8px 0;
	resize: none;
	width: 100%;
}
#contract td:first-child .input { padding: 0; }
#contract td:first-child input { text-align: center; }
#contract #notes td { padding: 0 8px; }