table {
	border: 1px solid #666;
	border-collapse: collapse;
}
th, td {
	border: 1px solid #666;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	padding: 8px;
}
th {
	background: #DDC;
	font-weight: bold;
	text-align: left;
}
th:nth-child(1), td:nth-child(1) { width: 23px; }
th:nth-child(3), td:nth-child(3) { width: 75px; }
th:nth-child(4), td:nth-child(4),
th:nth-child(5), td:nth-child(5),
th:nth-child(6), td:nth-child(6) { width: 65px; }
.head th:nth-child(3),
.head th:nth-child(4),
.head th:nth-child(5),
.head th:nth-child(6) { text-align: center; }
tr.section th {
	background: #CDE;
	padding: 5px;
}
#totals th {
	text-align: right;
	width: auto;
}
td:nth-child(4), td:nth-child(5),
td:nth-child(6), td:nth-child(7) { text-align: right; }


input {
	background: transparent;
	border: none;
	font: 12px Verdana, Arial, sans-serif;
	margin: 0;
	outline: none;
}
input[type=number] {
	padding: 7px 0 7px 15px;
	text-align: center;
}
td:nth-child(1) input { width: 39px; }
td:nth-child(1) { padding: 0; }